<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

    <!-- Botón de retroceso que se muestra solo sihay una URL de retroceso -->
    <ion-buttons slot="start" *ngIf="backUrl">
      <ion-back-button [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>



    <!-- titulocomo variable -->
    <ion-title> 
      <strong> {{ title }} </strong>
      <div class="admin">HabbitApp</div>
    </ion-title>


    <!-- popoveropciones -->
    <ion-buttons slot="end">
      <ion-button (click)="openOptions($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    

  </ion-toolbar>
</ion-header>

