<ion-header>
  <app-header title="Mis Hábitos"></app-header>
</ion-header>

<ion-content>
  <!-- FAB centrado -->
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button (click)="openOptions()">
      <img src="/assets/icon/favicon.png" alt="Descripción de la imagen">
    </ion-fab-button>
  </ion-fab>
  <!-- CRDS REDIRECCION A LAS PAGINAS 
  <div class="card-container">
    <ion-card routerLink="/habits/recommendations">
      <ion-card-header>
        <ion-card-title>Recomendaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Recibe sugerencias para hábitos saludables.
      </ion-card-content>
    </ion-card>

    <!--Tarjeta de Hábitos Propios
    <ion-card routerLink="/habits/custom-habits">
      <ion-card-header>
        <ion-card-title>Personalizados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Añade y personaliza tus propios hábitos.
      </ion-card-content>
    </ion-card>

    <!-- de Seguimiento
    <ion-card routerLink="/habits/tracking">
      <ion-card-header>
        <ion-card-title>Seguimiento de Hábitos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Monitorea tu progreso.
      </ion-card-content>
    </ion-card>
  </div>-->
</ion-content>