<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="error-message">
    <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
    <p>Oops! Algo salió mal.</p>
    <p>Intenta de nuevo más tarde.</p>
  </div>
</ion-content>
