.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté sobre todo lo demás */
  }
  
  .success-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  