ion-card {
    background-color: #3db87a;
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;

    ion-card-title,
    ion-card-subtitle,
    ion-card-content {
        color: #ffffff;
        font-size: 16px;
        font-family: sans-serif;
    }
}