ion-card {
    background-color: #3db87a;
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;

    ion-card-title,
    ion-card-subtitle,
    ion-card-content {
        color: #ffffff;
        font-size: 16px;
        font-family: sans-serif;
    }
}

ion-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

ion-accordion-group {
    ion-accordion {

        // CEncabezado acordeon
        ion-item[slot="header"] {
            background-color: #4CAF50;
            color: #c4b7de;
            font-weight: bold;
        }

        // Contenido acordeon
        div[slot="content"] {
            background-color: #f9f9f9;
            color: #333;
            padding: 16px;
        }

        // bordes acordeon
        ion-item {
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(68, 235, 3, 0.507);
        }
    }
}

ion-checkbox {
    --background: #72df72;
    --border-color: #72df72;
    --checkmark-color: white;
    --margin-left: 10px;
    --size: 24px;
}

ion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* Espaciado entre los ítems del acordeón */
}

.ion-padding {
    padding: 10px;
}

.animated-checkbox {
    --background: #fff;
    --border-color: #72df72;
    --checkmark-color: transparent;
    --transition: all 0.3s ease-in-out;
    margin-right: 10px; // Espaciado adicional

    // Efecto de brillo
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    transform: scale(1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

ion-loading {
    --spinner-color: #72df72;
    --background: rgba(255, 255, 255, 0.8);
    --message-color: #0a330d;
}