<ion-header>
  <app-header [backUrl]="'/habits'" title="Recomendaciones"></app-header>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Botella plastica de 500cc sirviendo agua en un vaso de cristal" src="assets/img/Water_Bottle_Tumbler" />

    <ion-card-header>
      <ion-card-title>Bebe Agua</ion-card-title>
      <ion-card-subtitle>¿Cuánta agua debo consumir?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Es recomendado diariamente, para gran parte de los adultos es de 30ml - 35ml de agua por kilogramo de peso
      corporal, esto según la Organización Mundial de la Salud (OMS).
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Botella plastica de 500cc sirviendo agua en un vaso de cristal"
      src="https://ionicframework.com/src/assets/img/Water_Bottle_Tumbler.jpg" />

    <ion-card-header>
      <ion-card-title>Bebe Agua</ion-card-title>
      <ion-card-subtitle>¿Cuánta agua debo consumir?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Es recomendado diariamente, para gran parte de los adultos es de 30ml - 35ml de agua por kilogramo de peso
      corporal, esto según la Organización Mundial de la Salud (OMS).
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Botella plastica de 500cc sirviendo agua en un vaso de cristal"
      src="src/assets/img/Water_Bottle_Tumbler.jpg" />

    <ion-card-header>
      <ion-card-title>Bebe Agua</ion-card-title>
      <ion-card-subtitle>¿Cuánta agua debo consumir?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Es recomendado diariamente, para gran parte de los adultos es de 30ml - 35ml de agua por kilogramo de peso
      corporal, esto según la Organización Mundial de la Salud (OMS).
    </ion-card-content>
  </ion-card>
</ion-content>