// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/




// variables.scss

:root {
  // Colores para el tema claro
  --ion-color-primary: #4dec7de5;
  /* Verde para progreso */
  --ion-color-secondary: #72df72;
  /* Azul para confianza */
  --ion-color-tertiary: #0a330d;
  /* Naranja para energía */

  
}

