// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/




// variables.scss

:root {
  // Colores para el tema claro
  --ion-color-primary: #4dec7de5;
  --ion-color-secondary: #72df72;
  --ion-color-tertiary: #0a330d;
  --ion-font-family: 'Open Sans', sans-serif;

}