// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/




// variables.scss

:root {
    // Colores para el tema claro
    --ion-color-primary: #79c47c;   /* Verde para progreso */
    --ion-color-secondary: #0d490c; /* Azul para confianza */
    --ion-color-tertiary: #FF9800;  /* Naranja para energía */
  
    // Puedes agregar más colores si es necesario
  }
  