// Estilo para el logo
.loguillo {
    padding-top: 40px;
    size: 60px;
    margin-top: 280px;
    width: 40%;
}

// Estilo del título
h2 {
    padding-top: 40px;
    font-size: 70px;
}

// Animista animación roll-in-blurred-left
@keyframes roll-in-blurred-left {
    0% {
        transform: translateX(-1000px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.bounce-in-top {
    animation: bounce-in-top 1.5s both;
}

// contenido centrado
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}