.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

#iconXd {
    font-size: 35px;
    color: #4CAF50;
    margin: 20px auto;
}

lottie-player {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.buttoncolors {
    margin-left: 5vh;
    margin-right: 5vh;
}

#preguntas {
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}

#labelsesion2 {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    margin: 50px 20px;
    border-radius: 10px;
}

#labelsesion {
    text-align: center;
    font-size: 24px;
    margin: 20px 30px;
    border-radius: 10px;
    line-height: 40px;
}

#tituloapp {
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
}

#bienvenido {
    text-align: center;
    margin: 50px 0 40px;
    font-size: 20px;
}

// Estilo para la segunda diapositiva
#tePreguntamos {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 30px 20px;
    border-radius: 10px;
}

#detalles2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 20px;
    border-radius: 10px;
}

// Animación de aparición de texto
.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

// Animación de sombra en el titulo
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 2s cubic-bezier(.215, .61, .355, 1.000) 1s both;
    animation: tracking-in-expand 2s cubic-bezier(.215, .61, .355, 1.000) 1s both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0;
    }

    40% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0;
    }

    40% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}

.rotate-in {
    animation: rotate-in 1s ease both;
}

@keyframes rotate-in {
    from {
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}