<ion-content [fullscreen]="true">
  <swiper-container>
    <!-- Slide de bienvenida y título -->
    <swiper-slide>
      <ion-row>
        <ion-col>
          <p id="bienvenido">Bienvenid&#64; a</p>
          <p id="tituloapp" class="tracking-in-expand rotate-in">HabitApp</p>
        </ion-col>
      </ion-row>

      <div class="container">
        <lottie-player slot="end" autoplay loop style="width: 300px; height: 300px;"
          src="https://lottie.host/cffef660-1b1f-4147-b703-0c3567bd1d61/lBvsglJzh1.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="labelsesion2" class="text-focus-in">
          <ion-label style="font-size: 30px;">La aplicación que te ayudará a mejorar tus hábitos,
            cuidar tu salud y generar un compromiso contigo mismo.
          </ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>

    <!-- Slide de selección de objetivos -->
    <swiper-slide>
      <div class="container flex justify-center items-center">
        <lottie-player class="w-64 mt-36" autoplay loop style="width: 200px; height: 200px; margin-top: 250px;"
          src="https://lottie.host/3c953b7e-f246-470c-b53d-bb0dcb855e29/PuDKvycVSG.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="tePreguntamos" class="text-focus-in">
          <ion-label>Ordena, cuida y mejora tus habitos diarios</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>

    <!-- Como funciona la aplicacion -->
    <swiper-slide>
      <div class="container flex justify-center items-center">
        <lottie-player class="w-64 mt-36" autoplay loop style="width: 200px; height: 200px; margin-top: 250px;"
          src="https://lottie.host/3c953b7e-f246-470c-b53d-bb0dcb855e29/PuDKvycVSG.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="tePreguntamos" class="text-focus-in">
          <ion-label>Cambia tus tiempos de suño, habitos de beer agua y mucha mas</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>

    <!-- Como funciona la aplicacion -->
    <swiper-slide>
      <div class="container flex justify-center items-center">
        <lottie-player class="w-64 mt-36" autoplay loop style="width: 200px; height: 200px; margin-top: 250px;"
          src="https://lottie.host/3c953b7e-f246-470c-b53d-bb0dcb855e29/PuDKvycVSG.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="tePreguntamos" class="text-focus-in">
          <ion-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis neque aliquam, dolorem facere
            at molestiae fuga? Laudantium doloribus porro aliquid harum. Nam temporibus fuga dolore nihil eius dolor,
            cupiditate hic.</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>

    <!-- Slide final de inicio de sesión -->
    <swiper-slide>
      <div class="container">
        <lottie-player autoplay loop style="width: 200px; height: 200px;"
          src="https://lottie.host/4ffe932c-efeb-4159-9472-437441802494/Yweg43AAov.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="labelsesion" class="text-focus-in">
          <ion-label>Mejora tus hábitos y vida saludable</ion-label>
          <br />
          <ion-label>Al alcance de tu mano</ion-label>
          <br />
          <ion-label>:)</ion-label>
        </ion-col>
      </ion-row>

      <div>
        <ion-row>
          <ion-col>
            <ion-button color="primary" class="buttoncolors text-focus-in" expand="block" routerLink="/auth/sign-up"
              shape="round">Crear una cuenta</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" class="buttoncolors text-focus-in" expand="block" routerLink="/auth"
              shape="round">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>